<%- model_class = WorkOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:service_call_id) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:registration_created) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:priority_id) %></th>
      <th><%= model_class.human_attribute_name(:status_id) %></th>
      <th><%= model_class.human_attribute_name(:assignment_to_person_id) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:approval_result_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= work_order.service_call_id %></td>
        <td><%= link_to work_order.id, work_order_path(work_order) %></td>
        <td><%= work_order.registration_created %></td>
        <td><%= work_order.description %></td>
        <td><%= work_order.priority_id %></td>
        <td><%= work_order.status_id %></td>
        <td><%= work_order.assignment_to_person_id %></td>
        <td><%= work_order.customer_id %></td>
        <td><%= work_order.approval_result_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_work_order_path(work_order), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      work_order_path(work_order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_work_order_path,
            :class => 'btn btn-primary' %>
